.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.catagories-list .badge {
    line-height: unset;
}

.simple-link{
    color: initial;
}

.simple-link:hover,
.simple-link:focus,
.simple-link:active{
    text-decoration: none;
}
.card {
    margin-bottom: 15px;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box.read-more{
    font-size: 22px;
    padding: 10px 20PX;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-text {
    text-transform: uppercase;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.bg-aqua{
    background-color: #00c0ef !important;
    color: #fff !important;
}
.search-bar {
    width: 60%;
}
.mobile-search-bar {
    display: none;
}
@media (max-width: 767.98px){
    .mobile-search-bar {
        display: inline-block;
        width: 100%;
    }

    .search-bar {
        display: none;
    }
}

/**
    SIDE BAR
*/
.navbar {
    z-index: 1;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 80px;
}

.bg-grey{
    background-color: #e2e6ea !important;
}


.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  color: inherit;
  border-block-end: 1px solid #e2e6ea
}

.sidenav a:hover,
.sidenav a:active,
.sidenav a:focus {
  color: #3490dc;
  background-color: #e2e6ea;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.add-btn {
    margin-left: 40px;
}